html{
    background-image: url(//www.made-with-ai.de/cdn/shop/products/d1faaa30313ab49b185d0707a2963cae_1280x.jpg?v=1667556498);
}





h1{
    color: grey;
    text-align: center;
}

#p2{
    display: flex;
    color: white;
}

#p1-img{
    image-rendering: pixelated;
    height: 300px;
    width: 300px;
}

.mynav{
    background-color: grey;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

div{
    font-family: "Jacquard 12", system-ui;
    font-size: larger;
    display: flex;
    align-content: center;
    justify-content: space-around;
}